.header {
  background: url("https://cdn.shopify.com/s/files/1/1525/1400/collections/Rectangle_1_copy_2_9a566d6b-b022-4b96-9487-c17bb90a40b1_1440x.png?v=15900721662");
  background-repeat: no-repeat;
  background-size: 100% contain;
  background-position: unset;
  height: 40vh;
  width: 100%;
  border: 2px solid orangered;
  margin-bottom: 1.5em;
}

.header pre {
  font-size: 40px;
  font-weight: 300;
  text-align: right;
}
