.contenedor-graficas {
  border: 1px solid greenyellow;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 80vw;
  margin: auto;
  margin-bottom: 1.5em;
}

.texts {
  border: 1px solid green;
  width: 40%;
  margin-right: 0;
}

.indice {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 45px;
  border: 6px solid;
  display: block;
  margin: auto;
}

.texts .btn {
  margin-bottom: 1.5em;
  background: rgb(0, 146, 64);
}
.grafica {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.form-check {
  margin: 1.5em auto;
}

.lds-dual-ring {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .contenedor-graficas {
    width: 100vw;
    flex-direction: column;
  }

  .texts {
    width: 100%;
  }
  .texts h1 {
    font-size: 24px;
  }
  .texts p {
    font-size: 18px;
  }
  .grafica {
    width: 100%;
  }
  .showGrafica {
    width: 100%;
  }
  .table {
    font-size: 10px;
  }
}
