.contenedor-graficas {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 80vw;
  margin: auto;
  margin-bottom: 1.5em;
  padding: 3%;
}

.texts {
  width: 40%;
  margin-right: 0;
}

.indice {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 45px;
  border: 6px solid;
  display: block;
  margin: auto auto 5%;
}
.info{
  font-weight: 400;
  font-size: 1.5em;

}

.texts .btn {
  margin-bottom: 1.5em;
  background: rgb(0, 146, 64);
}
.grafica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.form-check {
  margin: 1.5em auto;
}

.lds-dual-ring {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.table {
  box-shadow: 0 0 10px black;
  border-collapse: collapse;
  height: auto;
}

.react-bs-table {
  height: auto !important;
}
.react-bs-table-pagination {
  text-align: center;
  transform: translateX(-38%);
}

.react-bootstrap-table-page-btns-ul {
  float: none;
}

.react-bs-table-tool-bar {
  text-align: initial;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .contenedor-graficas {
    width: 100vw;
    flex-direction: column;
  }
  .grafica h3 {
    font-size: 18px;
  }
  .texts {
    width: 100%;
  }
  .texts h1 {
    font-size: 24px;
  }
  .texts p {
    font-size: 18px;
  }
  .grafica {
    width: 100%;
  }
  .showGrafica {
    width: 100%;
  }
  .table {
    font-size: 10px;
  }
}
