.contenedor-footer {
  background-color: #535353;
  color: #ffffff;
  margin: 0px auto;
  padding: 15px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  width: 98.7vw;
  margin:auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.constainer-footer h3 {
  font-size: 20px;
}

.logo-sita {
  display: block;
  margin: auto;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .contenedor-footer {
    width: 100vw;
  }
}
